html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  background-color: bisque;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

textarea {
  resize: none;
  width: 100%;
}

label {
  display: block;
}

h4 {
  margin: 0;
}

hr {
  margin: 0;
  border: none;
  background-color: lightgray;
  height: 1px;
}

section {
  width: 85%;
}

.chart-container {
  height: 30vh;
  position: relative;
  background-color: white;
  display: flex;
}
.chart {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 95%;
  border: 1px solid gray;
  position: relative;
}

.chart-divisions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
}

.chart-options {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

#chart-title {
  text-align: center;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.bar {
  margin-top: 0.1em;
}

.options-tab {
  margin: 0.5em;
}
.option {
  margin-right: 0.5em;
  min-width: 0;
  min-height: 0;
  width: 20%;
}

.options-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 0.5em;
}

#item-options-tab {
  display: flex;
  flex-wrap: wrap;
}

.item-label {
  position: absolute;
  bottom: -1.5em;
  font-size: 0.8em;
}

.item-value-label {
  font-size: 0.8em;
}

.graph-options {
  display: flex;
  overflow: hidden;
}

#xaxis-label {
  margin-top: 1.5em;
}

#yaxis-label {
  margin: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-right: auto;
}

.axis-label {
  text-align: center;
}

.yaxis-scale-label {
  font-size: 0.8em;
  text-align: end;
}

.yaxis-scale {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
