html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: aliceblue;
  padding-bottom: 5em;
}

button {
  font-size: 15px;
  background-color: #c8fcf1;
  border: none;
  color: #636363;
  height: 3em;
  border-radius: 0.2em;
  font-family: inherit;
  margin: 0.5em;
  margin-top: 1.5em;
  letter-spacing: 0.3em;
  box-shadow: 0 0 3px rgb(158, 200, 211);
  width: 100%;
}

button:hover {
  background-color: #69b9ff;
  color: white;
  box-shadow: 0 0 5px rgb(158, 200, 211);
}

p {
  color: #4c75a9;
}

header {
  padding-top: 2em;
  margin-bottom: 2em;
  color: #636363;
  text-align: center;
}

#main-header {
  margin: 0;
  font-size: 2.5em;
  font-family: system-ui;
}

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #69b9ff;
}

#icon {
  margin-right: 0.2em;
}

main {
  padding-top: 3em;
  padding-bottom: 3em;
  border: 1px solid #b1d7ef;
  max-width: 1000px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.25em;
  color: #636363;
}

.text-input {
  width: 100%;
  margin-bottom: 0.4em;
  font-family: inherit;
  height: 2.7em;
  transition: all 0.2s ease-in-out;
  outline: none;
  padding: 3px 0px 1em 3px;
  margin: 1px 1px 3px 0px;
  border: 1px solid #ababab;
  color: #636363;
}

.text-input:focus {
  box-shadow: 0 0 5px rgb(158, 200, 211);
  border: 1px solid rgb(163, 207, 219);
}

::placeholder {
  opacity: 0.7;
}

label {
  display: block;
}

select {
  border: 1px solid #ababab;
  color: #636363;
  background-color: #ffffff;
  outline: none;
  transition: all 0.1s ease-in-out;
}

select:focus {
  box-shadow: 0 0 5px rgb(158, 200, 211);
  border: 1px solid rgb(163, 207, 219);
}

h2 {
  font-size: 1.7em;
  letter-spacing: 0.05em;
  font-weight: 200;
}

h3 {
  letter-spacing: 0.2em;
  font-weight: 300;
}

h4 {
  margin: 0;
  text-decoration: underline;
  font-weight: 400;
}

hr {
  margin: 0;
  border: none;
  background-color: lightgray;
  height: 1px;
}

section {
  width: 85%;
}

.error-msg {
  text-align: center;
  color: #ff3434;
  background-color: #ffcece;
  font-weight: 400;
}

.chart-container {
  height: 40vh;
  position: relative;
  background-color: white;
  display: flex;
}
.chart {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 95%;
  border: 1px solid #909090;
  position: relative;
  box-shadow: 0 0 20px #c3c3c3;
}

.chart-divisions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
}

.chart-options {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

#chart-title {
  text-align: center;
  font-weight: 300;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.bar {
  margin-top: 0.1em;
  width: 100%;
}

.options-tab {
  margin: 0.5em;
  margin-bottom: 1em;
}
.option {
  margin-right: 0.5em;
  min-width: 0;
  min-height: 0;
  width: 20%;
}

.options-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 0.5em;
}

.data-options {
  display: flex;
}
.data-option {
  margin-right: 3em;
}

#item-options-tab {
  display: flex;
  flex-wrap: wrap;
}

#item-label-name {
  position: absolute;
  bottom: -1.5em;
}

.item-label {
  font-size: 0.8em;
}

.graph-options {
  display: flex;
  overflow: hidden;
}

#xaxis-label {
  margin-top: 1.5em;
}

#yaxis-label {
  margin: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-right: 0.3em;
}

.axis-label {
  text-align: center;
}

.yaxis-scale-label {
  font-size: 0.8em;
  text-align: end;
}

.yaxis-scale {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.color-option {
  margin-top: 0.3em;
}

#custom-units {
  width: 5em;
  padding: 0px;
  padding-left: 3px;
  height: auto;
}
