html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

main {
  height: 90%;
  width: 90%;
  margin: auto;
  background-color: #f4f1ec;
}

h4 {
  margin: 0;
}

.chart {
  background-color: antiquewhite;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
}

.chart-options {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.bar-container {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 50px;
  background-color: #555;
}

.options-tab {
  margin: 0.5em;
}

.options-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#item-options-tab {
  display: flex;
  flex-wrap: wrap;
}
